//-
//- character-header.partial.pug — Vampire 5e
//- ~/templates/actors/sections
//-

img.profile.charimg(src=(actor.img), alt="", data-edit="img")
div.sheet-header-details
	h1.v5e-input-element.charname
		input.v5e-input(type="text", name="name", value=(actor.name))
		div.v5e-input-border

	div.sheet-header-xp.flexrow
		| #{tr('V5E.XP')}
		input(
			type="number",
			name="data.xp.value",
			min="0",
			max=(data.xp.total),
			value=(data.xp.value),
			)
		| /
		input(
			type="number",
			name="data.xp.total",
			min="0",
			value=(data.xp.total),
			)

	ul.sheet-header-summary.flexrow
		li.v5e-input-element
			input.v5e-input(
				type="text",
				name="data.details.clan",
				value=(data.details.clan),
				placeholder=(tr('V5E.Clan')),
				)
			div.v5e-input-border
		li.v5e-input-element
			input.v5e-input(
				type="text",
				name="data.details.sire",
				value=(data.details.sire),
				placeholder=(tr('V5E.Sire')),
				)
			div.v5e-input-border
		li.v5e-input-element
			input.v5e-input(
				type="text",
				name="data.details.generation",
				value=(data.details.generation),
				placeholder=(tr('V5E.Generation')),
				)
			div.v5e-input-border

	ul.sheet-header-summary.flexrow
		li.v5e-input-element
			input.v5e-input(
				type="text",
				name="data.details.concept",
				value=(data.details.concept),
				placeholder=(tr('V5E.Concept')),
				)
			div.v5e-input-border
		li.v5e-input-element
			input.v5e-input(
				type="text",
				name="data.details.ambition",
				value=(data.details.ambition),
				placeholder=(tr('V5E.Ambition')),
				)
			div.v5e-input-border
		li.v5e-input-element
			input.v5e-input(
				type="text",
				name="data.details.desire",
				value=(data.details.desire),
				placeholder=(tr('V5E.Desire')),
				)
			div.v5e-input-border

	include character-header-resources.partial.pug
