//-
//- character-header-resources.partial.pug — Vampire 5e
//- ~/templates/actors/sections
//-

ul.sheet-header-resources.flexrow
	li
		h2 #{tr('V5E.Health')}
			if editable
				-;
				a.item.edit-resource(
					data-resource-id="data.health",
					data-title=(tr('V5E.HealthEdit')),
				)
					i.fas.fa-edit
		div.v5e-box-grid(data-resource-states="data.health")
			each __ in Array.from({ length: 10 * Math.ceil(data.health.max / 10) })
				-;
				div.v5e-box
		if editable
			-;
			div.sheet-header-resources-actions.flexrow(data-resource-actions="data.health")
				a.item(data-state="1") #{tr('V5E.Supperficial')}
				a.item(data-state="2") #{tr('V5E.Aggravated')}
				a.item(data-state="0") #{tr('V5E.Heal')}

	li
		h2
			a.custom-roll.item(
				class=(!editable && 'disabled'),
				data-pool=(data.willpower.value),
				data-title=(tr('V5E.WillpowerTest')),
				data-setup-title=(tr('V5E.WillpowerTest')),
				)
				| #{tr('V5E.Willpower')}
			if editable
				-;
				a.item.edit-resource(
					data-resource-id="data.willpower",
					data-title=(tr('V5E.WillpowerEdit')),
					)
					i.fas.fa-edit
		div.v5e-box-grid(data-resource-states="data.willpower")
			each __ in Array.from({ length: 10 * Math.ceil(data.willpower.max / 10) })
				-;
				div.v5e-box
		if editable
			-;
			div.sheet-header-resources-actions.flexrow(data-resource-actions="data.willpower")
				a.item(data-state="1") #{tr('V5E.Supperficial')}
				a.item(data-state="2") #{tr('V5E.Aggravated')}
				a.item(data-state="0") #{tr('V5E.Heal')}

	li(data-resource-humanity="data.humanity")
		h2 #{tr('V5E.Humanity')}
		div.v5e-box-grid
			each __ in Array.from({ length: 10 })
				-;
				div.v5e-box
		if editable
			-;
			div.sheet-header-resources-actions.flexrow
				a.item.humanity-stain #{tr('V5E.Stain')}
				a.item.remorse-roll #{tr('V5E.Remorse')}
