//-
//- coterie-sheet.pug — Vampire 5e
//- ~/templates/actors
//-

form.sheet-wrapper.flexcol(class=(cssClass), autocomplete="off")
	header.sheet-header
		include ./sections/coterie-header.partial.pug

	nav.sheet-tabs.tabs
		a.item(data-tab="features") #{tr('V5E.Features')}
		a.item(data-tab="description") #{tr('V5E.Description')}
		a.item(data-tab="notes") #{tr('V5E.Notes')}

		if game.user.isGM
			-;
			a.item(data-tab="gmnotes") #{tr('V5E.GMNotes')}

	section.sheet-body
		section.tab.sheet-tab-body.description-tab(data-tab="description")
			| !{editor({ content: data.description, target: 'data.description', button: true, owner, editable })}

		section.tab.sheet-tab-body.features-tab(data-tab="features")
			include ./tabs/character-features.partial.pug

		section.tab.sheet-tab-body.notes-tab(data-tab="notes")
			| !{editor({ content: data.details.notes, target: 'data.details.notes', button: true, owner, editable })}

		if game.user.isGM
			-;
			section.tab.sheet-tab-body.gmnotes-tab(data-tab="gmnotes")
				| !{editor({ content: data.gmnotes, target: 'data.gmnotes', button: true, owner, editable })}
