//-
//- clan-sheet.pug — Vampire 5e
//- ~/templates/items
//-

-
	const Disciplines = Object.keys(CONFIG.V5E.Disciplines)
		.sort((a, b) => CONFIG.V5E.Disciplines[a].localeCompare(CONFIG.V5E.Disciplines[b]))
		.reduce((dict, key) => ((dict[key] = CONFIG.V5E.Disciplines[key]) || true) && dict, {});

form.sheet-wrapper.flexcol(class=(cssClass), autocomplete="off")
	header.sheet-header
		img.profile(src=(item.img), alt="", data-edit="img")
		div.sheet-header-details
			h1.v5e-input-element.charname
				input.v5e-input(type="text", name="name", value=(item.name))
				div.v5e-input-border

			ul.sheet-header-summary.flexrow.flex-gap

	nav.sheet-tabs.tabs
		a.item(data-tab="description") #{tr('V5E.Description')}
		if game.user.isGM
			-;
			a.item(data-tab="gmnotes") #{tr('V5E.GMNotes')}
		a.item(data-tab="details") #{tr('V5E.Details')}

	section.sheet-body
		include ./tabs/description-tab.partial.pug
		include ./tabs/gmnotes-tab.partial.pug

		section.tab.sheet-tab-body.details-tab(data-tab="details")
			div.form-group
				label #{tr('V5E.Disciplines')}
				select(multiple, name="data.disciplines")
					each value, key in Disciplines
						-;
						option(value=(key), selected=(data.disciplines.includes(key)))
							| #{value}

			div.form-group
				label #{tr('V5E.ClanBane')}
				textarea(name="data.bane", rows="5") #{data.bane}
