//-
//- character-disciplines.partial.pug — Vampire 5e
//- ~/templates/actors/tabs
//-

-
	const disciplines = Object.keys(actor.powers)
		.sort((a, b) => CONFIG.V5E.Disciplines[a].localeCompare(CONFIG.V5E.Disciplines[b]))
		.reduce((dict, key) => ((dict[key] = CONFIG.V5E.Disciplines[key]) || true) && dict, {});

div.v5e-list
	each value, key in disciplines
		-;
		header.v5e-list-header.flexrow(data-id=(key))
			div.v5e-list-title
				a.item.roll-discipline(class=(!editable && 'disabled')) #{value}
			div.disciplines-tab-ratings
				div.v5e-box-grid(data-resource=(`data.disciplines.${key}`))
					each __ in Array.from({ length: 5 })
						-;
						div.v5e-box.rounded
			div.disciplines-tab-level #{tr('Level')}
			if editable
				-;
				div.disciplines-tab-controls.flexrow
					a.item.add-item(data-type="power", data-data.discipline=(key)) #[i.fas.fa-plus]
					a.item.delete-discipline #[i.fas.fa-trash]

		each power in powers[key]
			-;
			div.v5e-list-row.item-entry.flexrow(data-id=(power.id))
				div.v5e-list-title(class=(editable && power.rollable && 'rollable'))
					div.v5e-list-image(
						class=(editable && power.rollable && 'roll-item'),
						style=(`background-image: url('${power.img}')`),
					)
					a.item #{power.name}
				div.disciplines-tab-level #{power.data.data.level}
				if editable
					-;
					div.disciplines-tab-controls.flexrow
						a.item.post-item #[i.fas.fa-comment]
						a.item.edit-item #[i.fas.fa-edit]
						a.item.delete-item #[i.fas.fa-trash]
				div.item-summary !{power.data.data.description}
